---
layout: default
---

{% assign sections = 'lex,parse,semantic' | split: ',' %}
{% for section in sections %}
  {% case section %}
    {% when 'lex' %}
      {% assign title = "Lexer Warnings" %}
    {% when 'parse' %}
      {% assign title = "Parser Warnings" %}
    {% when 'semantic' %}
      {% assign title = "Semantic Warnings" %}
  {% endcase %}

  <section id="{{ section }}">
      <h1>{{ title }}</h1>

      <table>
      <thead>
          <th>Warning</th>
          <th>Message</th>
      </thead>
      <tbody>
          {% assign entries = site.data[section] | sort: 'warning' %}
          {% for entry in entries %}
          <tr>
              <td>{{ entry.warning | strip_html }}</td>
              <td>{{ entry.message | strip_html }}</td>
          </tr>
          {% endfor %}
      </tbody>
      </table>
  </section>
{% endfor %}
