* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

body {
    color: #333333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1em;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "kern" 1, "kern";
    font-feature-settings: "kern" 1, "kern";
    -webkit-font-kerning: normal;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

code,
tt {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.25em;
    margin: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1.125em;
}

h6 {
    font-size: 1em;
}

p {
    margin: 0 0 0.75em;
}

a {
    color: #477dca;
    text-decoration: none;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    transition: color 0.1s linear;
    &:hover {
        color: #2c5999;
    }
    &:active,
    &:focus {
        color: #2c5999;
        outline: none;
    }
}

table {
    border-collapse: collapse;
    margin: 0.75em 0;
    table-layout: fixed;
    width: 100%;
}

th {
    border-bottom: 2px solid #222;
    font-weight: bold;
    padding: 0.75em 0;
    text-align: left;
}

td {
    border-bottom: 1px solid #dddddd;
    padding: 0.75em 0;
}

tr,
td,
th {
    vertical-align: middle;
}

.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@media screen and (min-width: 700px) {
    header h1 {
        font-size: 3vw;
    }
}

header {
    margin-bottom: 3em;
    padding: 2em 0;
    text-align: center;
    nav {
        padding-top: 2em;
    }
}

section {
    margin-bottom: 3em;
    h1 {
        font-size: 1.5em;
    }
}

table {
    th:first-child,
    td:first-child {
        width: 40%;
    }
    q {
        &:before,
        &:after {
            content: "" !important;
        }
    }
}

h1 {
    position: sticky;
    display: block;
    top: 0;
    background: white;
    padding: 0.25em 0;
    z-index: 100;
}

thead th {
    position: sticky;
    top: 2em;
    z-index: 10;
    background-color: white;
}

footer {
    padding: 1em 0 3em 0;
}
